.siteServico {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;
}

/* ########### SERVICO VE ########### */


/* ########### TITULO ######### */

.titulo h2 {
  color: #1F3E4C;
  background: #f5f5f5;
  text-align: center;
  padding: 15px;
  font-size: 2em;
  font-weight: 700;
}

/* ########### IMAGENS #########*/
.servicoDegradePV {
  display: flex;
  align-items: center;
  position: relative;
}

.servicoDegradePV span::before {
  content: "";
  position: absolute;
  top: 24.5%;
  left: 45px;
  width: 80%;
  height: 76%;
  background: linear-gradient(to top, rgba(35, 150, 212, 0.712), transparent);
  z-index: 1;
}

.servicoDegradePV img {
  width: 80%;
  margin-left: 45px;
}


.servicoDegradePV h2 {
  font-size: 1.5em;
  font-weight: 600;
  position: absolute;
  left: 48%;
  top: 90%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  z-index: 2;
}

/* ###### TEXTO LATERAL ####### */
.textoLateral p {
  color: #1F3E4C;
  font-size: 1.8em;
  text-align: justify;
  line-height: 1.5;
  padding-right: 30px;
}

.textoLateral h1 {
  text-align: center;
  color: #1F3E4C;
  font-size: 2em;
  font-weight: 800;
  text-decoration: underline #1F3E4C;
}

.botao {
  background-color: #f5f5f5;
  margin: 2% 0 0 85%;
}

.botao span {
  background-color: #f5f5f5;
}

.botao a {
  color: #fff;
  background-color: #2390C2;
  font-size: 1.5em;
  padding: 5px 15px;
  border-radius: 15px;
}

.servicosVE {
  background-color: #f5f5f5;
}

/* ######### PROXIMA ANTERIOR PAGINA ###########*/

.prox {
  align-items: center;
  display: flex;
}

/* ############## FIM SERVICO VE ############ */

/* WPP */
.wppV {
  position: fixed;
  bottom: 15%;
  left: 14.2%;
}

.wppV img {
  width: 12.5%;
}