 /*######################### REGRAS DO SITE #########################*/
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

 .material-symbols-outlined {
   font-variation-settings:
     'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 24;
   color: #fff;
 }

 .h1h1{
  width: 0;
  height: 0;
  color: #1F3E4C;
  cursor: none;
  display: none;
 }

 body {
   font-size: 15px;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
 }

 img {
   width: 100%;
 }

 a {
   color: white;
   text-decoration: none;
 }

 .site {
   max-width: 1200px;
   /* Largura max de 1200 pixels*/
   width: 100%;
   /* se diminuir vai pra 100% da tela*/
   margin: 0 auto;
   /* 0 pra cima e baixo e o auto pra empurrar para o meio da tela */
 }

 /* ################## FAIXA SUPERIOR ############### */

 .barra {
   background: #1F3E4C;
   display: flex;
   border-bottom: #fff solid 1.5px;
 }

 .barra div {
   padding: 3px 0;
 }

 .barra div img {
   width: 30px;
 }

 .barra div ul {
   /* NAO MEXER */
   display: flex;
 }

 .barra div ul li {
   margin-left: 45px;
 }

 .barra div ul li a {
   display: flex;
   align-items: center;
   text-align: center;
   font-size: 1.8em;
   font-weight: 400;
   margin-top: 5px;
 }

 .barra div ul li a:hover {
   text-decoration: underline;
 }

 .barra div ul li a span {
   margin-right: 3px;
 }

 .barra div nav ul li:nth-child(5) a:nth-child(1) {
   margin-left: 240%;
 }

 .menu-fixo {
   position: fixed;
   width: 100%;
   z-index: 3;
   top: 0;
   background: rgba(31, 62, 76, 0.733);
   animation: fadeIn 1.2s ease-in-out;
 }

 .menu-fixo:hover .subServico {
   animation: fadeIn 0.5s ease-in-out;
 }

 /* ################### SUB SERVICO #################*/

 .subServico {
   display: none !important;
   position: absolute;
   background: #1F3E4C;
   padding-right: 1%;
   padding-bottom: 1%;
   border-radius: 10px;
 }

 .menu ul li:hover>.subServico {
   display: block !important;
   padding-top: 20px;
   z-index: 3;
 }

 .subMenu li {
   margin-bottom: 20px !important;
 }

 .subServico li a {
   color: #ffffff;
   font-size: 1.2em;
 }

 .subServico li a:hover {
   text-decoration: underline;
 }

 .menu-fixo:hover .subServico {
   animation: fadeIn 1.5s ease-in-out;
   background: rgba(31, 62, 76, 0.733) !important;
 }

 /* ############### BANNER ################## */

 .banner {
   position: relative;
 }

 .texto {
   width: 35%;
   position: absolute;
   top: 80%;
   left: 52%;
   transform: translate(-50%, -50%);
 }

 .bannerImage {
   width: 100%;
   height: auto;
   max-height: 600px;
 }

 .logoImage {
   width: 35%;
   position: absolute;
   top: 48%;
   left: 47.5%;
   transform: translate(-50%, -50%);
 }


 /* ################ SOBRE NOS ###################### */

 .sobreNos {
   display: flex;
   background: #f5f5f5;
   padding-bottom: 50px;
 }

 .sobreNos div {
   width: 1200px;
   margin: 0 30px;
 }

 .sobreNos h2 {
   color: #1F3E4C;
   text-align: center;
   font-size: 3em;
   font-weight: 400;
   margin-top: 50px;
   border-bottom: #1F3E4C solid 3px;
   padding-bottom: 10px;
 }

 .sobreNos p {
   color: black;
   text-align: justify;
   font-size: 1.5em;
   font-weight: 400;
   margin-top: 5px;
   line-height: 1.2em;
   border-bottom: #1F3E4C solid 3px;
   padding-left: 5px;
   padding: 10px 0;
 }

 /* ############################# SETAS ###################################### */

 .setaE,
 .setaD {
   position: absolute;
   top: 55%;
   transform: translateY(-50%);
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 .setaE {
   top: 52.9%;
   left: 11.4%;
   z-index: 2;
 }

 .setaD {
   top: 52.5%;
   right: 10%;
 }

 .setaE img,
 .setaD img {
   max-width: 60px;
   width: 110%;
   height: auto;
 }

 /* ########################### SERVICOS VIDROS ############################## */

 .servicoDegradeV .slick-prev:before,
 .servicoDegradeV .slick-next:before {
   opacity: 0;
   font-size: 70px;
 }

 .servicoDegradeV .slick-prev {
   top: 48%;
   left: -12%;
   z-index: 2;
 }

 .servicoDegradeV .slick-next {
   top: 48%;
   right: -10%;
   z-index: 2;
 }

 /* ### IMAGENS 1200x1600 ### */

 .titulo h2 {
   color: #1F3E4C;
   background: #f5f5f5;
   text-align: center;
   padding: 15px;
   font-size: 2em;
   font-weight: 700;
 }

 .servico {
   background: #1F3E4C;
   padding-top: 30px;
   padding-bottom: 30px;
   position: relative;
 }

 .servicoDegradeV {
   display: flex;
   position: relative;
 }

 .servicoDegradeV div {
   position: relative;
   margin: 0 .2%;
 }

 .servicoDegradeV img {
   width: 100%;
 }

 .servicoDegradeV div a::before {
   content: "";
   position: absolute;
   top: 24.5%;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, rgba(35, 150, 212, 0.712), transparent);
   z-index: 1;
 }

 .servicoDegradeV h2 {
   font-size: 1.5em;
   font-weight: 600;
   position: absolute;
   left: 50%;
   top: 90%;
   transform: translate(-50%, -50%);
   margin: 0;
   color: white;
   z-index: 2;
 }

 .servicoDegradeV div:nth-child(8) h2{
  left: 35%;
  transform: translate(-30%, -50%);
 }

 .servicoDegradeV a {
   display: block;
   height: auto;
   transition: transform 0.3s ease;
   cursor: pointer;
 }

 .servicoDegradeV a:hover {
   transform: scale(1.1);
 }

 .servicoDegradeV h2:hover {
   display: none;
 }

 .pservicoV p{
   display: none;
   position: fixed;
   z-index: 3;
   bottom: 55px;
   font-size: 1.2em;
   text-align: justify;
   margin: 0 20px;
   text-transform: uppercase;
   text-align: start;
 }

 .servicoDegradeV a:hover p {
   display: block;
 }

 .servicoDegradeV a:hover h2 {
   display: none;
 }

 /* ####################### SERVICO ALUMINIO ########################### */

 .servicoDegradeA .slick-prev:before,
 .servicoDegradeA .slick-next:before {
   opacity: 0;
   font-size: 70px;
 }

 .servicoDegradeA .slick-prev {
   top: 48%;
   left: -12%;
   z-index: 2;
 }

 .servicoDegradeA .slick-next {
   top: 48%;
   right: -10%;
   z-index: 2;
 }

 /* ### IMAGENS 1200x1600 ### */

 .titulo h2 {
   color: #1F3E4C;
   background: #f5f5f5;
   text-align: center;
   padding: 15px;
   font-size: 2em;
   font-weight: 700;
 }

 .servico {
   background: #1F3E4C;
   padding-top: 30px;
   padding-bottom: 30px;
   position: relative;
 }

 .servicoDegradeA {
   display: flex;
   position: relative;
 }

 .servicoDegradeA div {
   position: relative;
   margin: 0 .2%;
 }

 .servicoDegradeA img {
   width: 100%;
 }

 .servicoDegradeA div a::before {
   content: "";
   position: absolute;
   top: 24.5%;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, rgba(35, 150, 212, 0.712), transparent);
   z-index: 1;
 }

 .servicoDegradeA h2 {
   font-size: 1.5em;
   font-weight: 600;
   position: absolute;
   left: 50%;
   top: 90%;
   transform: translate(-50%, -50%);
   margin: 0;
   color: white;
   z-index: 2;
 }

 .servicoDegradeA a {
   display: block;
   height: auto;
   transition: transform 0.3s ease;
   cursor: pointer;
 }

 .servicoDegradeA a:hover {
   transform: scale(1.1);
 }

 .servicoDegradeA h2:hover {
   display: none;
 }

 .pservicoA p {
   display: none;
   position: fixed;
   z-index: 3;
   bottom: 55px;
   font-size: 1.2em;
   text-align: justify;
   margin: 0 20px;
   text-transform: uppercase;
   text-align: start;
 }

 .servicoDegradeA a:hover p {
   display: block;
 }

 .servicoDegradeA a:hover h2 {
   display: none;
 }

 /* ####################### BANNER ROTATIVO ############################ */

 .b {
   background-color: #f5f5f5;
   padding: 2% 0;
   margin: 0 auto;
   width: 1200px;
 }

 .bannerR {
   padding-top: 2%;
 }

 .bannerR div:nth-child(1) {
   background: #1F3E4C;
 }

 .bannerR .slick-prev:before,
 .bannerR .slick-next:before {
   opacity: 0;
   display: none !important;
 }

 .bannerR .slick-prev {
   opacity: 0;
   display: none !important;
 }

 .bannerR .slick-next {
   opacity: 0;
   display: none !important;
 }

 .pagamento {
   background-color: #1F3E4C;
   max-width: 1200px;
   margin: 0 auto;
   padding: 1% 0;
 }

 .pagamento h2 {
   color: white;
   font-size: 1.5em;
   text-align: center;
   align-items: center;
 }

 /* ############################# MAPA ################################# */

 .map div {
   background: #f5f5f5;
 }

 .map h2 {
   color: #2390C1;
   text-align: center;
   font-size: 2.5em;
   padding-bottom: 10px;
 }

 .map p {
   color: #2390C1;
   font-size: 1.2em;
   margin-left: 8%;
 }

 .map iframe {
   margin-left: 8%;
   border: #2390C1 solid 2px !important;
 }

 /* ################################ MARCAS ################################## */

 .marcas h2 {
   color: #2390C1;
   font-size: 2.5em;
   text-align: center;
   align-items: center;
 }

 .marcas div {
   padding-top: 1%;
   padding-bottom: 1%;
 }

 .marcas div {
   background-color: #f5f5f5;
 }

 .imgM img {
   display: block;
   height: auto;
   transition: transform 0.3s ease;
   padding: 0 20px;
 }

 .imgM img:hover {
   transform: scale(1.1);
 }

 .marcas .slick-prev:before,
 .marcas .slick-next:before {
   opacity: 0;
   font-size: 70px;
   display: none;
 }

 .marcas .slick-prev {
   top: 55%;
   left: -9%;
   z-index: 2;
   display: none;
 }

 .marcas .slick-next {
   top: 55%;
   right: -5%;
   z-index: 2;
   display: none;
 }


 /* ############################# ORÇAMENTO ############################ */
 .orcamento div {
   background: #f5f5f5;
 }

 .orcamento form {
   display: flex;
   justify-content: space-around;
 }

 .orcamento h2 {
   text-align: center;
   color: #2390C1;
   font-size: 2.5em;
 }

 .orcamento h3 {
   text-align: center;
   font-size: 1.5em;
   margin-top: .5%;
 }

 .message {
   opacity: 1;
   transition: opacity 1s ease-in-out;
 }

 .message.hidden {
   opacity: 0;
 }

 .orcamento p {
   color: #1F3E4C;
   font-size: 1.8em;
 }

 .orcamento a {
   color: #139ddd;
   font-size: 1.1em;
   text-decoration: underline;
   margin-left: 5.5%;
 }

 .orcamento form div:nth-child(1) div input {
   width: 165%;
   padding: 4% 10% 4% 5px;
   border: 0px;
 }

 .orcamento form input {
   width: 100%;
   padding: 2% 0 2% 0;
   border: 0px;
 }

 .orcamento form textarea {
   border: 0px;
   resize: none;
   font-size: 1em;

 }

 .orcamento form label p {
   margin-bottom: 5px;
 }

 .orcamento div div div {
   margin: 20px;
 }

 .orcamento form .envio input {
   cursor: pointer;
   border: 0px;
   border-radius: 15px;
   background: #2390C1;
   color: #fff;
   padding: 2%;
   font-size: 1em;
   margin-left: 70%;
   width: 32%;
 }

 .orcamento select {
   cursor: pointer;
   border: 0px;
   background: #2390C1;
   color: #fff;
   padding: 2% 0 2% 0;
   font-size: 1.2em;
   margin-right: 8%;
 }

 .orcamento option {
   background: #fff;
   font-size: 0.9em;
   color: #2390C1;
 }

 .orcamento option p:hover {
   background: #fff;
   font-size: 0.9em;
 }

 .inputpar {
   margin: 0px !important;
   display: flex;
 }

 /* ############################# RODA PÉ ################################## */

 .rodape {
   background: #1F3E4C;
   color: #fff;
   padding: 40px 0;
   border-top: #2390C1 solid 1.5px;
 }

 .rodape h2 {
   font-size: 1.3em;
   margin-top: 0;
 }

 .rodape div {
   display: flex;
 }

 .rodape p {
   margin: 5px 0;
 }

 .rodape a:hover {
   color: #2390C1
 }

 /* CONTATO */

 .contato {
   margin-left: 16%;
 }

 .contato ul li:nth-child(1) {
   align-items: center;
   display: flex;
   margin-bottom: 0.5%;
 }

 .contato ul li:nth-child(2),
 .contato ul li:nth-child(3) {
   width: 42%;
 }

 .contato ul li:nth-child(4) {
   margin-top: 1%;
   width: 16%;
 }

 .contato ul li:nth-child(5) {
   width: 11.5%;
 }

 .contato ul li img {
   width: 25.5%;
 }

 .contato ul li:nth-child(1) img {
   margin-left: 5px;
   width: 5%;
 }

 .contato ul li:nth-child(5) img {
   width: 35%;
 }

 .contato ul li a {
   display: flex;
   align-items: center;
 }

 /* LOCALIZAÇÃO E SERVIÇOS */

 .locserv ul li {
   display: flex;
   align-items: center;
 }

 .locserv ul li a:hover {
   color: #2390C1;
 }

 .locserv ul li:nth-child(2) {
   width: 66%;
 }

 .locserv img {
   width: 4%;
   margin-left: 5px;
 }

 .locserv ul li:nth-child(1) img {
   margin-left: -1px;
   width: 6%;
 }

 .locserv ul li:nth-child(4) {
   margin-top: 4%;
 }

 /* ################################ WPP ############################ */

 .wpp {
   position: fixed;
   bottom: 3%;
   left: 14.2%;
 }

 .wpp img {
   width: 12.5%;
 }

 /* ################################ LOGIN ############################ */

 .login div {
   background: #f5f5f5;
 }

 .login form {
   display: flex;
   justify-content: center;
   margin-right: 9%;
 }

 .login p {
   color: #1F3E4C;
   font-size: 1.8em;
   margin-bottom: 10px;
 }

 .login a {
   color: #139ddd;
   font-size: 1.1em;
   text-decoration: underline;
 }

 .login ul li {
   margin-top: 10px;
 }

 .login img {
   width: 9%;
   margin-left: 8%;
 }

 .loginTop {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 80px;
   padding-bottom: 30px;
 }

 .loginTop h2 {
   text-align: center;
   color: #1F3E4C;
   font-size: 4em;
   margin-left: -17%;
   padding-top: 0;
 }

 .login form div input {
   width: 165%;
   padding: 4% 10% 4% 5px;
   border: 0px;
 }

 .login div div div {
   margin: 20px 0 20px 0;
 }

 .login form:nth-child(2) .logar input:nth-child(1) {
   cursor: pointer;
   border: 0px;
   border-radius: 15px;
   background: #2390C1;
   color: #fff;
   padding: 3%;
   margin-top: 25px;
   margin-bottom: 112%;
   margin-left: 120%;
   font-size: 1em;
   width: 60%;
 }


 /* ######################### REGISTRO ########################*/

 .registro div {
   background: #f5f5f5;
 }

 /* Estilos para o título do formulário */
 .registroTop {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 70px;
   padding-bottom: 20px;
 }

 .registroTop h2 {
   color: #1F3E4C;
   font-size: 4em;
   margin-right: 6%;
 }

 /* Estilos para os grupos de campos */
 .nomeGrupo,
 .enderecoGrupo {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .nomeGrupo div,
 .enderecoGrupo div,
 .loginGrupo div {
   flex: 0 0 30%;
 }

 .loginGrupo {
   display: flex;
   margin-bottom: 20px;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   margin: 0 10px 0 10px;
 }

 /* Estilos para rótulos e campos de entrada */
 .registro label {
   display: block;
   font-weight: bold;
   color: #1F3E4C;
   font-size: 1.8em;
   margin-bottom: 5px;
   margin-top: 30px;
 }

 .registro input[type="text"],
 .registro input[type="password"] {
   width: 75%;
   padding: 10px;
   border: 0;
 }

 /* Estilos para a lista de requisitos de senha */
 .registro li {
   color: #139ddd;
   margin-top: 5px;
 }

 /* Estilos para o botão de enviar */
 .registrar input[type="submit"] {
   cursor: pointer;
   border: 0;
   border-radius: 15px;
   background: #2390C1;
   color: #fff;
   padding: 10px;
   margin: 40px 0px 30px 100px;
   font-size: 1.2em;
   width: 50%;
 }