/* ######################################### /
/ ################# 900px ################# /
/ ######################################### */

@media(max-width:900px) {

    /* BARRA SUPERIOR */
    .barra div nav ul li:nth-child(4) a:nth-child(1) {
        margin-left: 95px;
    }

    .barra div ul li {
        margin-left: 38px;
    }

    /* CARROSEL */
    .setaE,
    .setaD,
    .setaD2,
    .setaE2 {
        display: none;
    }

    .marcas .slick-next {
        display: none;
    }

    .slick-next:before {
        display: none;
    }

    .slick-prev, .slick-next {
        height: 0;
    }


    .servicoDegrade .slick-next {
        display: none !important;
    }

    .pservico {
        display: none;
    }

    /* BANNER ROTATIVO */
    .b {
        max-width: 900px;
    }

    .map div div {
        margin-left: 0;
    }

    .map p {
        margin-left: 8%
    }

    .map iframe {
        width: 715px;
    }

    /* ORÇAMENTO */
    .orcamento form {
        justify-content: space-around;
    }

    .orcamento form textarea {
        width: 95%;
    }

    .orcamento select {
        margin-bottom: 2%;
    }

    .orcamento form div:nth-child(1) div input {
        width: 120%;
        padding: 6% 0% 6% 5px;
    }

    .orcamento form input {
        width: 45%;
    }

    .orcamento button {
        margin-left: 64%;
    }

    .wpp {
        top: 90%;
        left: 1%;
    }

}

@media(max-width:720px){
    .marcas .slick-next{
        display: none!important;
    }

    .map div div {
        margin-left: 1%;
    }

    .map p {
        margin-left: 25%
    }

    .map iframe {
        width: 495px;
    }

    .b {
        max-width: 650px;
    }
}

/* ######################################### /
/ ################# 600px ################# /
/ ######################################### */

@media not all and (max-width:600px) {

    /*MENU MOBILE*/
    .abrirMenu,
    .fecharMenu {
        display: none
    }
}

@media(max-width:600px) {

    /* FAIXA SUPERIOR */
    .barra div {
        padding: 0 0;
    }

    .barra div ul li {
        display: flex;
        margin-left: 25px;
    }

    .barra div div ul li:nth-child(4) a:nth-child(1) {
        margin-left: 20px;
    }

    .barra div ul li a {
        font-size: 1.2em;
    }

    .barra div ul li {
        flex-direction: column;
    }

    .barra div ul li a {
        margin-top: 0;

    }

    /*ABRIR MENU*/
    .abrirMenu {
        background: url(../img/barras.png);
    }

    .fecharMenu {
        align-self: start;
        margin: 5% 5% 25% 5%;
        background: url(../img/close.png);
    }

    .abrirMenu,
    .fecharMenu {
        background-size: cover;
        padding: 20px;
        border: 0;
        display: block;
    }


    .menu {
        position: fixed;
        background: rgba(73, 73, 73, 0.308);
        height: 100%;
        z-index: 5;
        margin: 0;
        top: 0;
        max-width: 400px;
        width: 50%;
        right: -300px;
        transition: right 0.5s ease-out;
        flex-direction: column;
    }

    .menuAtivo .menu {
        right: 0;
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
    }

    .menu ul li {
        margin: 10px 5px;
    }

    .menu ul li a {
        text-align: center;
        padding: 15px 5px;
        display: block;
        background: rgba(31, 62, 76, 0.733) !important;
    }

    .menu>a {
        margin-top: 15%;
        margin-left: 0;
    }

    .subServico {
        background: none;
        border-radius: 0 0 0 0;
        position: relative;
        padding: 0 0 0 0;
        width: 50%;
    }

    .subServico a {
        background: rgba(31, 62, 76, 0.733) !important;
    }

    .barra div nav ul li:nth-child(4) a:nth-child(1) {
        margin-left: 0;
    }

    /* CARROSEL */
    .setaE,
    .setaD {
        display: none;
    }

    .setaD2,
    .setaE2 {
        display: none;
    }

    .marcas .slick-next {
        display: none!important;
    }

    .slick-next:before {
        display: none;
    }

    .servicoDegrade .slick-next {
        display: none !important;
    }

    .slick-prev, .slick-next {
        height: 0;
    }

    /* SOBRE NOS */

    .sobreNos h2 {
        font-size: 2em;
        margin-top: 25px;
    }

    .sobreNos p {
        font-size: 1.3em;
    }

    .sobreNos {
        padding-bottom: 15px;
    }

    .pservico {
        display: none;
    }


    /*BANNER ROTATIVO*/
    .b {
        max-width: 600px;
    }

    .map div div {
        margin-left: 1%;
    }

    .map p {
        margin-left: 25%
    }

    .map iframe {
        width: 475px;
    }

    /* ORÇAMENTO */
    .orcamento form {
        flex-direction: column;
        justify-content: space-around;
    }

    .orcamento form textarea {
        width: 95%;
    }

    .orcamento form div:nth-child(1) div input {
        width: 100%;
        padding: 4% 0% 4% 5px;
    }

    .orcamento select {
        margin-bottom: 2%;
    }

    .orcamento form div:nth-child(1) div input {
        padding: 2% 0% 2% 5px;
    }

    /*RODA PE*/
    .contato {
        margin-left: 14%;
    }

    .contato ul li img {
        width: 45%;
    }

    .contato ul li img {
        width: 35%;
    }

    .contato ul li:nth-child(1) img {
        width: 8%;
    }

    .contato ul li:nth-child(5) img {
        width: 45%;
    }

    .locserv img {
        width: 8%;
    }

    .locserv ul li:nth-child(1) img {
        width: 12%;
    }

    .locserv ul li:nth-child(2) {
        width: 67%;
    }
}

@media(max-width:425px){
    .b {
        max-width: 425px;
    }

    .marcas .slick-next{
        display: none!important;
    }

    .map div div {
        margin-left: 1%;
    }

    .map p {
        margin-left: 25%
    }

    .map iframe {
        width: 340px;
    }

    .map p {
        margin-left: 15%;
    }

    .orcamento form .envio input {
        padding: 2%;
        width: 36%;
        margin-left: 60%;
    }
}

/* ######################################### /
/ ################# 380px ################# /
/ ######################################### */

@media(max-width:380px) {

    .setaD2,
    .setaE2 {
        display: none;
    }

    .marcas .slick-next {
        display: none!important;
    }

    /*BARRA*/
    .barra div {
        padding: 10px 0;
    }

    .barra div ul li {
        margin-left: 10px;
    }

    .barra div ul li a {
        font-size: 1.3em;
        align-items: center;
    }

    .barra div ul li a span {
        max-width: 20px;
        margin-left: -5px;
    }

    .barra div img {
        width: 100%;
    }

    .menu ul li {
        margin: 10px 5px;
    }

    .menu ul li a {
        padding: 15px 15px;
    }

    .logoImage {
        width: 45%;
        transform: translate(-55%, -105%);
    }

    .bannerImage {
        display: none;
    }

    /*sub servico*/
    .subServico {
        text-align: center;
        display: none;
    }

    .texto {
        display: none;
    }

    .b {
        max-width: 380px;
    }

    .servico {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .slick-prev, .slick-next {
        height: 0;
    }

    .sobreNos {
        display: flex;
        ;
        flex-direction: column;
        align-items: center;
        max-width: 380px;
    }

    .sobreNos div {
        margin: 0px 30px;
        max-width: 355px;
    }

    .map div div {
        margin-left: 2%;
    }

    .map p {
        margin-left: 10.7%;
    }

    .map iframe {
        width: 300px;
    }


    .orcamento form {
        flex-direction: column;
        justify-content: space-around;
    }

    .orcamento form textarea {
        width: 95%;
    }

    .orcamento form .envio input {
        margin-left: 55%;
        width: 50%;
    }

    .orcamento form div:nth-child(1) div input {
        width: 100%;
        padding: 4% 0% 4% 5px;
    }

    .orcamento select {
        margin-bottom: 2%;
    }

    .rodape {
        padding: 0px 0;
    }

    .rodape div {
        padding: 10px 0;
        flex-direction: column;

    }

    .contato {
        margin-left: 35%;
        text-align: center;
        margin-bottom: 2%
    }

    .contato ul li:nth-child(4),
    .contato ul li:nth-child(5),
    .contato h2 {
        margin-left: -10%;
    }

    .contato ul li:nth-child(1) img {
        width: 10%;
    }

    .contato ul li:nth-child(4) img {
        margin-left: -15px;
        width: 45%;
    }

    .contato ul li:nth-child(5) img {
        width: 55%;
    }

    .contato ul li:nth-child(5) {
        margin-left: -10px;
    }

    .contato ul li:nth-child(3) {
        width: 47%;
    }

    .locserv {
        text-align: center;
        margin-left: 35%;
    }

    .locserv ul li:nth-child(1) img {
        margin-left: -3px;
        width: 15%;
    }

    .locserv ul li:nth-child(4) img {
        width: 8%;
    }

    .locserv ul li:nth-child(2) {
        width: 75%;
        margin-top: 2%;
        margin-left: -35px;
    }

    .locserv ul li:nth-child(3) {
        margin-left: -25px;
    }

    .locserv ul li:nth-child(4) {
        margin-left: 8px;
    }

    .locserv ul li:nth-child(6) {
        margin-left: 23px;
    }

    .pservico p {
        display: none;
    }

}