 /*######################### REGRAS DO SITE #########################*/
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

 .material-symbols-outlined {
   font-variation-settings:
     'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 24;
   color: #fff;
 }

 body {
   font-size: 15px;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
 }

 img {
   width: 100%;
 }

 a {
   color: white;
   text-decoration: none;
 }

 .site {
   max-width: 1200px;
   /* Largura max de 1200 pixels*/
   width: 100%;
   /* se diminuir vai pra 100% da tela*/
   margin: 0 auto;
   /* 0 pra cima e baixo e o auto pra empurrar para o meio da tela */
 }

 .pagsVidros div{
  background: #f5f5f5;
 }

 /* ########################### NOSSOS SERVICOS ############################## */

 .servicoDegradeV .slick-prev:before,
 .servicoDegradeV .slick-next:before {
   opacity: 0;
   font-size: 70px;
 }

 .servicoDegradeV .slick-prev {
   top: 48%;
   left: -12%;
   z-index: 2;
 }

 .servicoDegradeV .slick-next {
   top: 48%;
   right: -10%;
   z-index: 2;
 }

 /* ### IMAGENS 1200x1600 ### */

 .titulo h2 {
   color: #1F3E4C;
   background: #f5f5f5;
   text-align: center;
   padding: 15px;
   font-size: 2em;
   font-weight: 700;
 }

 .servico {
   background: #1F3E4C;
   padding-top: 30px;
   padding-bottom: 30px;
   position: relative;
 }

 .servicoDegradeV  {
   position: relative;
 }

 .servicoDegradeV div {
   position: relative;
   margin: 0 .2%;
 }

 .servicoDegradeV section{
  display: flex;
  padding-bottom: 5%;
 }

 .servicoDegradeV div span::before {
   content: "";
   position: absolute;
   top: 24.5%;
   left: 0;
   width: 100%;
   height: 75%;
   background: linear-gradient(to top, rgba(35, 150, 212, 0.712), transparent);
   z-index: 1;
 }

 .servicoDegradeV h2 {
   font-size: 1.5em;
   font-weight: 600;
   position: absolute;
   left: 50%;
   top: 90%;
   transform: translate(-50%, -50%);
   margin: 0;
   color: white;
   z-index: 2;
 }

 /* ############################# TEXTO LATERAL ########################### */

 .texto p{
  font-size: 1.5em;
  color: #ffffff;
  font-size: 600;
 }

 .texto{
  background-color: #1F3E4C;
 }

 /*BOTÃO*/
 .envio a {
  padding: 2%;
  text-align: center;
  border-radius: 15px;
  background: #2390C1;
}

 /* ############################# RODA PÉ ################################## */

 .rodape {
   background: #1F3E4C;
   color: #fff;
   padding: 40px 0;
   border-top: #2390C1 solid 1.5px;
 }

 .rodape h2 {
   font-size: 1.3em;
   margin-top: 0;
 }

 .rodape div {
   display: flex;
 }

 .rodape p {
   margin: 5px 0;
 }

 .rodape a:hover {
   color: #2390C1
 }

 /* CONTATO */

 .contato {
   margin-left: 16%;
 }

 .contato ul li:nth-child(1) {
   align-items: center;
   display: flex;
   margin-bottom: 0.5%;
 }

 .contato ul li:nth-child(2),
 .contato ul li:nth-child(3) {
   width: 42%;
 }

 .contato ul li:nth-child(4) {
   margin-top: 1%;
   width: 16%;
 }

 .contato ul li:nth-child(5) {
   width: 11.5%;
 }

 .contato ul li img {
   width: 25.5%;
 }

 .contato ul li:nth-child(1) img {
   margin-left: 5px;
   width: 5%;
 }

 .contato ul li:nth-child(5) img {
   width: 35%;
 }

 .contato ul li a {
   display: flex;
   align-items: center;
 }

 /* LOCALIZAÇÃO E SERVIÇOS */

 .locserv ul li {
   display: flex;
   align-items: center;
 }

 .locserv ul li a:hover {
   color: #2390C1;
 }

 .locserv ul li:nth-child(2) {
   width: 66%;
 }

 .locserv img {
   width: 4%;
   margin-left: 5px;
 }

 .locserv ul li:nth-child(1) img {
   margin-left: -1px;
   width: 6%;
 }

 .locserv ul li:nth-child(4) {
   margin-top: 4%;
 }

 /* ################################ WPP ############################ */

 .wpp {
   position: fixed;
   bottom: 3%;
   left: 14.2%;
 }

 .wpp img {
   width: 12.5%;
 }

 /* ################################ LOGIN ############################ */

 .login div {
   background: #f5f5f5;
 }

 .login form {
   display: flex;
   justify-content: center;
   margin-right: 9%;
 }

 .login p {
   color: #1F3E4C;
   font-size: 1.8em;
   margin-bottom: 10px;
 }

 .login a {
   color: #139ddd;
   font-size: 1.1em;
   text-decoration: underline;
 }

 .login ul li {
   margin-top: 10px;
 }

 .login img {
   width: 9%;
   margin-left: 8%;
 }

 .loginTop {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 80px;
   padding-bottom: 30px;
 }

 .loginTop h2 {
   text-align: center;
   color: #1F3E4C;
   font-size: 4em;
   margin-left: -17%;
   padding-top: 0;
 }

 .login form div input {
   width: 165%;
   padding: 4% 10% 4% 5px;
   border: 0px;
 }

 .login div div div {
   margin: 20px 0 20px 0;
 }

 .login form:nth-child(2) .logar input:nth-child(1) {
   cursor: pointer;
   border: 0px;
   border-radius: 15px;
   background: #2390C1;
   color: #fff;
   padding: 3%;
   margin-top: 25px;
   margin-bottom: 112%;
   margin-left: 120%;
   font-size: 1em;
   width: 60%;
 }


 /* ######################### REGISTRO ########################*/

 .registro div {
   background: #f5f5f5;
 }

 /* Estilos para o título do formulário */
 .registroTop {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 70px;
   padding-bottom: 20px;
 }

 .registroTop h2 {
   color: #1F3E4C;
   font-size: 4em;
   margin-right: 6%;
 }

 /* Estilos para os grupos de campos */
 .nomeGrupo,
 .enderecoGrupo {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .nomeGrupo div,
 .enderecoGrupo div,
 .loginGrupo div {
   flex: 0 0 30%;
 }

 .loginGrupo {
   display: flex;
   margin-bottom: 20px;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   margin: 0 10px 0 10px;
 }

 /* Estilos para rótulos e campos de entrada */
 .registro label {
   display: block;
   font-weight: bold;
   color: #1F3E4C;
   font-size: 1.8em;
   margin-bottom: 5px;
   margin-top: 30px;
 }

 .registro input[type="text"],
 .registro input[type="password"] {
   width: 75%;
   padding: 10px;
   border: 0;
 }

 /* Estilos para a lista de requisitos de senha */
 .registro li {
   color: #139ddd;
   margin-top: 5px;
 }

 /* Estilos para o botão de enviar */
 .registrar input[type="submit"] {
   cursor: pointer;
   border: 0;
   border-radius: 15px;
   background: #2390C1;
   color: #fff;
   padding: 10px;
   margin: 40px 0px 30px 100px;
   font-size: 1.2em;
   width: 50%;
 }