/* ####################### REGRAS DO SITE #####################*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  color: #e79924;
}

body {
  font-size: 11px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
}

.site {
  max-width: 1200px;
  /* Largura max de 1200 pixels */
  width: 100%;
  /* se diminuir vai pra 100% da tela pra ficar esperto */
  margin: 0 auto;
  /* 0 pra cima e baixo e o auto pra empurrar pro meio da tela conforme qualquer coisa */
}

/* ############## FAIXA SUPERIOR #################### */

.faixa {
  background: #000;
}

.faixa div {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.faixa div ul {
  display: flex;
}

.faixa div div a {
  display: flex;
  align-items: center;
}

.faixa div div a span {
  color: #e79924;
  margin-right: 3px;
}

.faixa div div a:nth-child(1) {
  margin-right: 50px;
}

.faixa div ul li {
  margin-left: 30px;
}

/* ################## FAIXA MENU ############# */

.faixaMenu div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.faixaMenu h1 {
  width: 255px;
  height: 126px;
  background: url(../img/logo-auto-mestre.svg) no-repeat;
  text-indent: -10000px;
}

.faixaMenu div div a {
  background-color: #e79924;
  padding: 10px;
  margin-left: 40px;
  border: #333 solid 1px;
  border-radius: 10px;
}

.faixaMenu div div a:hover {
  background-color: #333;
  border: #e79924 solid 0.5px;
}

/* ################ MENU ###############*/

.banner img {
  border: #e79924 solid 1px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul li {
  margin: 0px 5px;
}


/* ############ SUB MENU ################ */
.subMenu {
  display: none !important;
  position: absolute;
}

.menu ul li:hover>.subMenu {
  display: block !important;
  padding-top: 20px;
  z-index: 3;
}

.subMenu li {
  margin-bottom: 20px !important;
}

/* ############ FIM SUB MENU ############## */

.menu ul li a {
  background: #e79924;
  padding: 5px 15px;
  border: #333 solid 1px;
  border-radius: 10px 10px;
}

.menu>a {
  background: #e79924;
  padding: 20px 20px;
  border: #333 solid 1px;
  border-radius: 10px 10px;
  margin-left: 15px;
}

.menu>a:hover {
  color: #000;
  background: white;
  border: #e79924 solid 1px;
  border-radius: 10px 10px;
}

.menu ul li a:hover {
  background: #333;
  border: #e79924 solid 1px;
  border-radius: 10px 10px;
}

/* ############## MENU FIXO ############# */

.menuFixo {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
  background: rgba(51, 51, 51, 0.7);
  animation: fadeIn 2s ease-in-out;
}

/* ############################## BANNER #############################*/
/* ### SETAS ### */
.banner .slick-prev:before,
.banner .slick-next:before {
  font-size: 50px;
  color: #e79924;
}

.banner .slick-prev {
  left: 25px;
  z-index: 2;
}

.banner .slick-next {
  right: 55px;
}

.galeria .slick-prev:before,
.galeria .slick-next:before {
  display: none;
}

.galeria .slick-prev {
  display: none;
  left: 40px;
  z-index: 2;
}

.galeria .slick-next {
  display: none;
  right: 40px;
}


/* ################## SESSÃO SOBRE ###################### */

.sobre {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.sobre div {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* ALINHAS EM COLUNAS */
  justify-content: space-between;
}

.sobre h2 {
  font-size: 2em;
  color: #e79924;
  font-weight: 700;
}

.sobre p {
  font-size: 1.5em;
  /* tamanho da fonte*/
  text-align: justify;
  /* espaço entre as palavras */
  line-height: 2em;
  /* espaço entre as linhas*/
}

.sobre a {
  background: #e79924;
  padding: 5px 5px;
  border: #333 solid 1px;
  border-radius: 10px 15px;
  width: 20%;
  text-align: center;
  align-self: flex-end;
}

.sobre a:hover {
  color: #000;
  background: white;
  border: #e79924 solid 1px;
  border-radius: 10px 10px;
}

.sobre div:nth-child(2) img {
  width: 63%;
}

.sobre div:nth-child(2) img:nth-child(2) {
  align-self: flex-end;
  margin-top: -100px;
}

/* ######### SESSÃO SERVIÇO ############ */

/*servico*/
.slideServico .slick-prev:before,
.slideServico .slick-next:before {
  font-size: 60px;
  color: #e79924;
}

.slideServico .slick-prev {
  left: 1px;
  z-index: 2;
}

.slideServico .slick-next {
  right: 40px;
}

.servico {
  background: #333;
  padding-top: 40px;
}

.faixaServico {
  background: #ccc;
}

.servico h2 {
  font-size: 3em;
  color: #e79924;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.servico div div {
  display: flex;
  justify-content: space-around;
}

.servico div div div {
  margin: 0 10px;
}

.servico a:hover {
  background: #b2360f;
}

.servico p {
  font-size: 1em;
  text-align: justify;
  line-height: 2em;
  background: #333333;
  padding: 20px;
}

.faixaServico {
  background: #ccc;
  height: 200px;
  margin-top: -7.4%;
  border-top: solid thin #e79924;
}

/* ###################### TECNOLOGIA TITULO ####################### */

.tecnologia {
  padding: 40px 0;
}

.tecTop div {
  display: flex;
}

.tecTop p {
  font-size: 1.5em;
  color: black;
  margin-left: 20px;
}

.tecTop h2 {
  font-size: 2.0em;
  font-weight: 700;
  color: #e79924;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 15px;
}

/* ####################### CORPO TEC ############################# */

.tecContD p {
  color: white;
  font-size: 0.9em;
  font-weight: 700;
}

.tecContE p {
  color: white;
  font-size: 0.9em;
  font-weight: 700;
}

.imagemCentral {
  margin-top: 100px;
}

.tecCorpo {
  display: flex;
  justify-content: space-around;
}

.tecContE div a {
  background: #333333;
  display: flex;
  margin-top: 45px;
  align-items: center;
  justify-content: space-between;
}

.tecContE div img {
  margin-right: -35px;
}

.tecContE div div {
  margin: 20px;
  max-width: 230px;
}

.tecContD div a {
  background: #333333;
  display: flex;
  margin-top: 45px;
  align-items: center;
  justify-content: space-between;
}

.tecContD div img {
  margin-left: -35px;
}

.tecContD div div {
  margin: 20px;
  max-width: 230px;
}

/* ########## GALERIA ################# */

.galeria {
  background: #333;
  padding: 40px 0;
}

.galeria h2 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

.galeria img {
  margin: 0 10px;
}


/* ############ DEPO ################### */

.depo {
  padding: 40px 0;
}

.depo h2 {
  font-size: 3em;
  color: #e79924;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.depo div {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.depo img {
  width: 15%;
  margin-bottom: 1%;
}

.depo p {
  font-size: 1.8em;
  line-height: 1.8em;
  padding: 20px;
}

/* ##################### SESSÃO PROJETO ##################################*/

.projeto {
  padding-top: 40px;
  background: #b2360f;
}

.projeto h2 {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.projeto h4 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 700;
  color: #ccc;
  letter-spacing: 0.3em;
  /* ESPAÇAMENTO ENTRE OS CARACTERES */
  margin-bottom: 3%;
  margin-left: 3px;
}

.boxProjeto {
  display: flex;
  justify-content: space-between;
}

.boxProjeto img {
  display: block;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.boxProjeto img:hover {
  transform: scale(1.2);
}

.boxProjeto div p {
  color: #fff;
  background: #333;
  padding: 5% 5%;
  font-size: 1.8em;
  line-height: 1.2em;
  text-align: justify;
}

.faixaProjeto {
  background: #a3a2ad;
  height: 250px;
  margin-top: -200px;
}

/* ############################### LOGOS ############################### */

.logos {
  display: flex;
  padding: 40px 0;
  overflow: hidden;
}

.logos img {
  margin: 0 5px;
}

/*############################### RODAPÉ ###################################*/

.rodape {
  background: #333;
  color: #fff;
  text-align: center;
}

.rodape>div {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.rodape div div {
  width: 30%;
}

.rodape div div h2 {
  margin-top: 25%;
  margin-bottom: 15%;
  font-size: 2.5em;
}

.rodape p {
  margin-top: 5%;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: justify;
}

.rodape ul li a {
  display: block;
  padding: 10px 0;
}

.rodape ul li a:hover {
  padding: 10px 10px;
  border-radius: 5px 5px;
  background: #e79924;
  color: #333;
}

.rodape div div div {
  width: 100%;
  text-align: left;
  border-bottom: #a3a2ad solid 1px;
  margin-bottom: 5%;
  padding: 5% 0;
}

.rodape div div div h5 {
  font-style: italic;
  color: #a3a2ad;
  font-size: 1.4em;
  margin-bottom: 1%;
  margin-top: 8px;
}

.rodape div div div h3 {
  font-size: 1.5em;
  border-bottom: #a3a2ad;
}

.rodape>div:nth-child(2) {
  background: #000;
  padding: 20px 0;
  border-top: #e79924 solid 0.1px;
  box-shadow: 0px -4px 15px #e79924;
}

.rodape>div:nth-child(2) h2 {
  margin: 0 auto;
}

/* ################## PG CONTATO ####################*/

.form {
  padding: 40px 0;
  text-align: center;
}

.form h2 {
  font-size: 3em;
  color: #e79924;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.form h3{
  display: block;
  font-size: 2em;
  margin-bottom: 5px;
}

.form form {
  display: flex;
  justify-content: space-around;
}

.form form>div {
  width: 48%;
}

.form form>div div {
  margin-bottom: 3%;
}

.form input, .form textarea, .form button{
  width: 95%;
  padding: 2%;
  background-color: #e79924;
  font-size: 1.8em;
  border: solid thin #333
}

.form textarea{
  height: 155px;
  resize: none;
}

.form form div:nth-child(2) div:nth-child(2){
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
}

.form input[type='submit'], .form button{
  width: 48%;
  border-radius: 10px;
  color: #333333;
  cursor: pointer;
}

.form input[type='submit']:hover, .form button:hover{
  color: #333;
  background-color: #e79924;
  color: #b2360f;
  border: solid 1px #b2360f;
}