/* ############################################# */
/* ###############  601 até 900  ###############*/
/* ############################################# */

@media (max-width: 900px) {
    .faixaMenu div {
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .faixaMenu div div {
        display: flex;
        flex-direction: row;
    }

    .galeria .slick-prev:before,
    .galeria .slick-next:before {
        display: none;
    }

    .faixa div {
        justify-content: space-around;
    }

    .tecContE div img {
        margin-right: 10px;
    }

    .tecContD div img {
        margin-left: 5px;
    }

    .imagemCentral {
        margin-top: 25%;
    }

    .boxProjeto {
        justify-content: space-around;
    }

    .faixaServico {
        height: 260px;
        margin-top: -18.1%;
    }

    .slideServico .slick-prev:before,
    .slideServico .slick-next:before {
        display: none;
    }

    .tecCorpo {
        margin: 0 2%;
    }

    .depo div {
        width: 90%;
    }

    .boxProjeto {
        font-size: 1em;
    }

    .faixaProjeto {
        height: 210px;
    }

    .rodape>div {
        flex-direction: column;
    }

    .rodape div div {
        width: 80%;
        margin: 0 auto;
    }

    .rodape img {
        width: 50%;
    }

    .rodape p {
        margin-top: 2%;
    }

    .rodape div div h2 {
        margin-top: 10%;
        margin-bottom: 2%;

    }
}

@media not all and (max-width:600px) {

    /*MENU MOBILE*/
    .abrirMenu,
    .fecharMenu {
        display: none;
    }
}

/*fechar a media*/

@media (max-width: 600px) {

    /* .menu {
        display: none;
    } */

    .faixa div {
        flex-direction: column;
        align-items: center;
    }

    .banner {
        display: none;
    }

    .sobre {
        padding: 40px 0;
        flex-direction: column;
    }

    /*ABRIR MENU*/

    .abrirMenu {
        background: url(../img/menu.png);
    }

    .fecharMenu {
        align-self: start;
        margin: 5% 5% 25% 5%;
        background: url(../img/fechar.png);
    }

    .abrirMenu,
    .fecharMenu {
        background-size: cover;
        padding: 20px;
        border: 0;
        display: block;
    }


    .menu {
        position: fixed;
        background: rgba(73, 73, 73, 0.308);
        height: 100%;
        z-index: 5;
        margin: 0;
        top: 0;
        max-width: 400px;
        width: 50%;
        right: -300px;
        transition: right 0.5s ease-out;
        flex-direction: column;
    }

    .menuAtivo .menu {
        right: 0;
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
    }

    .menu ul li {
        margin: 10px 5px;
    }

    .menu ul li a {
        text-align: center;
        padding: 15px 5px;
        display: block;
    }

    .menu>a {
        margin-top: 15%;
        margin-left: 0;
    }

    .subMenu{
        position: relative;
    }

    .sobre div {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .sobre:nth-child(2) {
        flex-direction: column-reverse;
        padding-top: 5px;
    }

    .faixaServico {
        height: 200px;
        margin-top: -45.1%;
    }

    .faixaMenu div {
        flex-direction: row;
    }

    .faixaMenu div div a {
        margin: 5%;
    }

    .faixaMenu div div {
        flex-direction: column;
    }

    .servico h2 {
        margin-bottom: 10px;
    }

    .depo img {
        width: 50%;
    }

    .tecCorpo {
        flex-direction: column;
    }

    .tecTop {
        margin-right: 15px;
    }

    .tecContE div a {
        margin-top: 20px;
    }

    .tecContD div a {
        margin-top: 20px;
    }

    .imagemCentral {
        display: none;
        margin-top: 10%;
    }

    .slick-next:before {
        display: none;
    }

    .slick-next {
        right: 0;
        display: none;
    }

    /* ########### PG CONTATO ####### */
    .form form{
        flex-direction: column;
        align-items: center;
    }

    .form form > div{
        width: 95%;
    }

    .form form div:nth-child(2) div:nth-child(2){
        flex-direction: column;
    }

    .form input[type="submiti"], .form button{
        width: 80%;
        margin: 2% auto;
    }
}






















/* 
901 até 1200
601 até 900
0 até 600
*/