@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #fff;
}

body {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.dashboard {
    max-width: 100%;
    margin: 0 auto;
}

/* ############################# BARRA ###########################*/

.barraTopo {
    background: #1F3E4C;
}

.barraTopo h1 {
    font-size: 4.5em;
    color: #fff;
    margin-left: 18.5%;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.barraTopo h2 {
    font-size: 2em;
    align-items: center;
    margin-right: 5%;
}

.logoadm a {
    width: 10%;
}

.barraTopo ul {
    display: flex;
}

.barraTopo ul li a {
    display: flex;
    align-items: center;
}

.barraTopo ul li {
    display: flex;
    align-items: center;
}

.barraTopo ul li:nth-child(1) img:nth-child(1) {
    margin-left: 60%;
}

.barraTopo ul li:nth-child(1) img:nth-child(2) {
    margin-left: -97%;
}

.login a {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(35, 150, 212, 0.712) 0%, rgb(1, 165, 253) 100%);
    padding: 5% 0px 5% 60%;
    border-radius: 35px 0px 0px 35px;
    margin-left: -80px;
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: background-position 0.5s ease;
}

.login a:hover {
    background-position: 100% 0%;
}

.login a img {
    width: 30%;
}

/* ############## MENU LATERAL #################### */
main {
    flex: 1;
    display: flex;
}

.menu {
    background-color: #1F3E4C;
    max-width: 300px;
    width: 50%;
}

.menu nav {
    padding-top: 9.2%;
    padding-bottom: 34.2%;
}

.menu nav ul li {
    padding: 17.35px 0;
}

.menu ul li a {
    font-size: 2.5em;
    color: #fff;
    border-bottom: #fff solid 2px;
    transition: 300ms;
}

.menu ul li a:hover {
    padding: 10px 15px 10px 15px;
    border-radius: 25px 25px;
    background: linear-gradient(to top, rgba(35, 150, 212, 0.712), rgb(1, 165, 253));
    transition: 300ms;
}

/* ############## BOX DAS PAGINAS #################### */
.box {
    width: 100%;
    margin: 1%;
    background: url(../img/background2.jpg);
    background-size: cover; /* Faz a imagem cobrir toda a área do .box */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

/* ################# RODA PÉ ################### */

.rodape {
    text-align: center;
    background: linear-gradient(to top, rgba(35, 150, 212, 0.712), rgb(1, 165, 253));
    padding-bottom: .1%;
}

.rodape h2 {
    color: #fff;
    font-size: 1.1em;
}

.rodape p {
    color: #fff;
}


