@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #fff;
}

body {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.dashboard {
    max-width: 100%;
    margin: 0 auto;
}

/* ############################# BARRA ###########################*/

.barraTopo {
    background: #1F3E4C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

.barraTopo .logo,
.barraTopo .login {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    width: 5%;
}

.logo-container {
    position: relative;
    display: flex;
    align-items: center;
}

.circle {
    position: absolute;
    z-index: 1;
    width: 210%;
    height: auto;
}

.logoImg {
    position: relative;
    z-index: 2;
    width: 210%;
    height: auto;
}

/* ############## TÍTULO FIXO NO TOPO #################### */
.tituloDashboard h1 {
    position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(3%);
    text-align: center;
    padding: 10px;
    margin: 0;
    z-index: 1;
}

.tituloDashboard h2 {
    position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    margin: 0;
    z-index: 1;
}


.tituloDashboard h1 {
    font-size: 1.8em;
    color: #fff;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.login {
    text-align: right;
}

.login ul a {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, rgba(35, 150, 212, 0.712), rgb(1, 165, 253));
    padding: 10px;
    border-radius: 30px;
}

.login li {
    margin-left: 10px;
}

.login p {
    font-size: 1.7em;
    color: #fff;
    margin: 0;
    white-space: nowrap;
}

.login img {
    width: 50px;
    height: auto;
    border-radius: 20px;
}

/* ############## MENU LATERAL #################### */
main {
    flex: 1;
    display: flex;
}

.menu {
    background-color: #1F3E4C;
    max-width: 300px;
    width: 50%;
}

.menu nav {
    padding-top: 9.2%;
    padding-bottom: 34.2%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15.35px 0;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.menu ul li a {
    font-size: 2.5em;
    color: #fff;
    border-bottom: #fff solid 2px;
    transition: 300ms;
    display: flex;
    align-items: center;
}

.menu ul li a i {
    font-size: 1em;
    /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 10px;
    /* Espaçamento entre o ícone e o texto */
}

.menu ul li:nth-child(7) a {
    color: red;
    border-bottom: rgb(141, 34, 34) solid 2px;
}

.menu ul li a:hover {
    padding: 10px 15px;
    border-radius: 25px;
    background: linear-gradient(to top, rgba(35, 150, 212, 0.712), rgb(1, 165, 253));
    color: white;
}

.menu ul li:nth-child(7) a:hover {
    background: red;
}


/* ############## BOX DAS PAGINAS #################### */
.box {
    width: 100%;
    margin: .5%;
    background: url(../img/background2.jpg);
    background-size: cover;
    /* Faz a imagem cobrir toda a área do .box */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Não repete a imagem de fundo */
    /* Adicionando as propriedades para a barra de rolagem */
    height: 767px;
    /* Ajuste a altura conforme necessário */
    overflow-y: auto;
    /* Adiciona a barra de rolagem vertical */
    padding: 10px;
    /* Opcional: Adiciona um preenchimento interno */
    box-sizing: border-box;
    /* Inclui o padding e a borda na largura e altura totais */
}

/* ################# RODA PÉ ################### */

.rodape {
    text-align: center;
    background: linear-gradient(to top, rgba(35, 150, 212, 0.712), rgb(1, 165, 253));
    padding-bottom: .1%;
}

.rodape h2 {
    color: #fff;
    font-size: 1.1em;
}

.rodape h3 {
    color: #fff;
    font-size: 1.1em;
}