/* ######## LISTAR ########## */

.tituloDashboard{
    font-size: 3em;
    color: #1F3E4C;
    text-align: center;
}

.btnDashboard a{
    border-radius: 15px;
    background: #2390C1;
    color: #fff;
    padding: .5%;
    font-size: 1.8em;
    width: 15%;
    display: block;
    margin-left: 2%;
    transition: ease-in-out .5s;
}

.btnDashboard a:hover{
    background: #1F3E4C;  
    display: block;
    transition: ease-in-out .5s;
}

.options select {
    cursor: pointer;
    border: 0px;
    background: #2390C1;
    color: #fff;
    padding: 2% 0 2% 0;
    font-size: 1.2em;
    margin-right: 8%;
    text-align: center;
  }
  
  .options select:hover {
    background-color: #1F3E4C;
    transition: ease-in-out .5s;
  }
 
  .options option {
    background: #fff;
    font-size: 0.9em;
    color: #2390C1;
  }
 
  .options option p:hover {
    background: #fff;
    font-size: 0.9em;
  }

  .btnEnviar{
    margin-bottom: 15px;
  }

  label p{
    font-size: 1.2em;
  }

  td a{
    color: #2390C1;
    text-decoration: underline;
  }

  td a:hover{
    color: #1F3E4C;
  }

  th p{
    text-transform: uppercase;
    color: #1F3E4C;
    font-weight: 800;
    font-size: 1.2em;
  }

  .desativar p{
    color: red;
  }

  .ativar p{
    color: #2390C1;
  }