/* ######## CLIENTE ########## */

.tituloCliente{
    font-size: 3em;
    color: #1F3E4C;
    text-align: center;
}

.btnCadCliente a{
    border-radius: 15px;
    background: #2390C1;
    color: #fff;
    padding: .5%;
    font-size: 1.8em;
    width: 15%;
    display: block;
    margin-left: 2%;
    transition: ease-in-out .5s;
}

.btnCadCliente a:hover{
    background: #1F3E4C;  
    display: block;
    transition: ease-in-out .5s;
}

/* ######## ORÇAMENTO ######## */

.tituloOrcamento{
    font-size: 3em;
    color: #1F3E4C;
    text-align: center;
}

.btnCadOrcamento a{
    border-radius: 15px;
    background: #2390C1;
    color: #fff;
    padding: .5%;
    font-size: 1.8em;
    width: 15%;
    display: block;
    margin-left: 2%;
    transition: ease-in-out .5s;
}

.btnCadOrcamento a:hover{
    background: #1F3E4C;  
    display: block;
    transition: ease-in-out .5s;
}